@font-face {
  font-family: fonten;
  src: url("fonten-regular.otf") format("opentype");
}

body {
  font-size: 18px;
  line-height: 1.6;
  background-color: #121212;
  font-family: fonten, sans-serif;
  color: #fff;
  height: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  max-width: 650px;
  margin: 40px auto;
  padding: 0 10px;
}

nav ul {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
}

nav ul li {
  flex: 1;
}

nav ul li a {
  text-decoration: none;
  color: #fff;
  display: block;
  text-align: center;

  &:hover {
    text-decoration: underline;
  }
}

form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

form ul {
  height: 300px;
  overflow-y: auto;
  border: 1px solid #fff;
}

button {
  width: 100px;
  font-family: fonten, sans-serif;
}

.form-group {
  display: flex;
  gap: 20px;
}

.form-group input {
  flex: 1;
}

textarea {
  font-family: fonten, sans-serif;
}

input {
  font-family: fonten, sans-serif;
}

#recipe-list {
  display: flex;
  flex-direction: column;
}

.promotions-container {
  overflow-y: auto;
}

#products {
  display: flex;
  height: 320px;
  align-items: start;
  column-gap: 8px;
  row-gap: 10px;
  overflow-y: auto;
  flex-wrap: wrap;
  align-content: flex-start;
  border: 1px solid #fff;
}

.product {
  width: 100%;
}

.product-container {
  display: flex;
  width: 100px;
  flex-direction: column;
  gap: 10px;
}

.product-name {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

#promotions {
  display: flex;
  height: 820px;
  align-items: start;
  column-gap: 8px;
  row-gap: 10px;
  overflow-y: auto;
  flex-wrap: wrap;
  align-content: flex-start;
  border: 1px solid #fff;
}

#shopping-list {
  display: flex;
  flex-direction: column;
  border: 1px solid #fff;
  min-height: 300px;
}

.shopping-item {
  display: flex;
  padding: 20px;
  border-bottom: 1px dashed #fff;
  gap: 20px;
}

.item-details {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: start;
}

.item-image {
  width: 100px;
  height: 100px;
}

.item-checkbox {
  width: 20px;
  height: 20px;
}

.product-name {
  font-size: 20px;
}

.shopping-page {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.shopping-list-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
