@font-face {
  font-family: fonten;
  src: url("fonten-regular.otf") format("opentype");
}

body {
  font-size: 1.125em;
  line-height: 1.6;
  background-color: #121212;
  font-family: fonten, sans-serif;
  color: #fff;
  height: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  max-width: 650px;
  margin: 40px auto;
  padding: 0 10px;
}

nav ul {
  position: relative;
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
}

nav ul li {
  flex: 1;
}

#language-links {
  position: absolute;
  display: flex;
  gap: 10px;
  top: -30px;
  right: 10px;
}

.language-link {
  text-decoration: none;
}

nav ul li a {
  color: #fff;
  display: block;
  text-align: center;
  text-decoration: underline;
}

.shopping-page-title a {
  color: #fff;
  display: flex;
  flex-direction: column;
}

.shopping-page-title .link-active {
  color: #fff;
  background-color: #888;
}
input[type="text"],
input[type="number"] {
  border-radius: 5px;
}

input {
  font-size: 16px;
}

form ul {
  height: 300px;
  overflow-y: auto;
  border: 1px solid #fff;
  border-radius: 5px;
}

button {
  /* width: 100px; */
  font-family: fonten, sans-serif;
  padding: 5px;
  font-size: 16px;
  color: #121212;
}

.form-group {
  display: flex;
  flex: 1;
  gap: 20px;
  min-width: 0;
}

.form-group input {
  flex: 1;
  min-width: 0;
}

.radio-form-group {
  min-width: 0;
  display: flex;
  flex: 1;
  justify-content: space-around;
}

textarea {
  font-family: fonten, sans-serif;
}

input {
  font-family: fonten, sans-serif;
  padding: 5px;
}

select {
  padding: 5px;
  font-size: 16px;
}

#recipe-list {
  display: flex;
  flex-direction: column;
}

.promotions-container {
  overflow-y: auto;
}

.gapped-form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.products {
  display: grid;
  flex: 1;
  width: 100%;
  grid-template-columns: repeat(1, minmax(0, 1fr));
  border-radius: 5px;
  min-width: 0;
}

.product-image {
  min-width: 0;
  width: 100px;
  height: 100px;
}

.product-image-container {
  height: 100%;
  display: flex;
  align-items: center;
}

.product-container {
  display: flex;
  height: 115px;
  color: #121212;
  background-color: #fff;
  border-bottom: 2px dashed #121212;
  padding: 2px;
}

.product-container:last-child {
  border-bottom: none;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

.product-container:first-child {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

@media screen and (min-width: 768px) {
  .products {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }

  .product-container:nth-child(odd) {
    border-right: 2px dashed #121212;
  }

  .product-container:last-child {
    border-right: none;
    border-bottom: none;
  }

  .product-container:first-child {
    border-top-left-radius: 5px;
    border-top-right-radius: 0;
  }

  .product-container:nth-child(2) {
    border-top-right-radius: 5px;
  }
}

.add-to-shopping-list-button {
  width: 50%;
  align-self: flex-end;
}

.product-details {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex: 1;
  height: 100%;
  overflow: hidden;
}

.product-details-text {
  display: flex;
  flex-direction: column;
  flex: 1;
  height: 100%;
  padding-left: 10px;
  overflow: hidden;
}

#promotions {
  display: flex;
  height: 820px;
  align-items: start;
  column-gap: 8px;
  row-gap: 10px;
  overflow-y: auto;
  flex-wrap: wrap;
  align-content: flex-start;
  border: 1px solid #fff;
  border-radius: 5px;
}

#shopping-list {
  min-height: 140px;
}

#shopping-list-items {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  border-radius: 5px;
  min-height: 140px;
  color: #121212;
  background-color: #fff;
}

.bordered {
  border: 1px solid #fff;
}

.shopping-item-container {
  display: flex;
  padding: 10px;
  flex-direction: column;
  border-bottom: 2px dashed #121212;
}

.shopping-item-info {
  display: flex;
  gap: 20px;
  margin-bottom: 10px;
}

.shopping-item-container:last-child {
  border-bottom: none;
}

.shopping-item-note-container {
  display: flex;
  gap: 10px;
}

.shopping-item-note-container input {
  flex: 1;
  min-width: 0;
}

.shopping-list-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}

.shopping-list-buttons {
  display: flex;
  gap: 20px;
  margin-bottom: 20px;
}

.product-name {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  font-size: 20px;
  font-weight: 700;
}

.item-details-text {
  display: flex;
  overflow: hidden;
  flex-direction: column;
}

.item-details {
  display: flex;
  justify-content: space-between;
  flex: 1;
  overflow: hidden;
  position: relative;
}

.item-image {
  width: 100px;
  height: 100px;
}

.shopping-page {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.shopping-list-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.item-checkbox {
  position: absolute;
  width: 30px;
  right: 0;
  bottom: 0;
  height: 30px;
}

fieldset {
  border-radius: 5px;
}

.expense-container {
  display: flex;
  justify-content: space-between;
  padding: 10px 20px 10px 20px;
  width: 100%;
  align-items: center;
  box-sizing: border-box;
  border-bottom: 2px dashed #121212;
  background-color: #fff;
  color: #121212;
}

.expense-title {
  margin: 0;
  overflow: hidden;
  text-overflow: ellipsis;
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.expense-info-container {
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.expense-data-container {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  overflow: hidden;
}

.no-shrink {
  min-width: max-content;
}

.split-container {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 100%;
}

.pie-chart {
  border: 1px solid #fff;
}

.paid-by {
  padding: 0 2px 0 2px;
  border-radius: 5px;
  color: white;
}

.creditor-name {
  padding: 0 2px 0 2px;
  border-radius: 5px;
  color: white;
}

.expenses-container {
  border: 1px solid #fff;
  border-radius: 5px;
  width: 100%;
}

.expense-container:last-child {
  border-bottom: none;
}

input[type="radio"] {
  width: 20px;
  height: 20px;
  margin: 0;
}

.radio-group {
  display: flex;
  align-items: center;
  flex: 1;
  gap: 10px;
  justify-content: center;
}

.tally {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  border: 1px solid #fff;
}

.tally span {
  flex: 1;
}

.tally-info {
  text-align: center;
}
.tally-amount {
  text-align: end;
}

.tally-container {
  display: flex;
  gap: 20px;
  font-size: 1.2em;
  font-weight: 700;
  align-items: center;
  margin-bottom: 20px;
}

.debt-form-group {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  min-width: 0;
}
.debtor-form-group {
  display: flex;
  align-items: center;
}

@media screen and (min-width: 768px) {
  .debt-form-group {
    flex-direction: row;
  }
}

.form-comment {
  margin: 0 10px 0 10px;
}

#total {
  width: 100px;
}

#amount {
  width: 80px;
}

.date-container {
  display: flex;
  flex-direction: column;
  width: max-content;
}

.settle-icons {
  font-size: 2em;
  line-height: normal;
  margin-right: 4px;
}

.product-promo {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

#edit-action-buttons {
  display: flex;
  gap: 20px;
}

.toast-success {
  background-color: #4caf50;
}

.toast-fail {
  background-color: #f44336;
}

.toast {
  color: white;
  padding: 16px;
  border-radius: 5px;
  margin-bottom: 15px;
  animation: fadeOut 3s forwards;
}

@keyframes fadeOut {
  90% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

.sticky-tabs {
  position: sticky;
  top: 20px;
  z-index: 1;
}

.tabs {
  display: flex;
  justify-content: space-around;
  position: relative;
}

.tab-shadow {
  position: absolute;
  background: linear-gradient(rgba(18, 18, 18, 1) 65%, rgba(18, 18, 18, 0));
  height: 150%;
  width: 100%;
  z-index: -1;
  top: -20px;
  padding-bottom: 30px;
}

.tab {
  display: flex;
  justify-content: center;
  cursor: pointer;
  flex: 1;
  padding: 12px 14px;
  border: none;
  font-size: 1.25em;
}

.tab:last-child {
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

.tab:first-child {
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

.active {
  background-color: #888;
}

/* Style the tab content */
.tabcontent {
  display: none;
}

.shopping-item-reorder-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.shopping-item-reorder-container button {
  font-size: 1.25em;
  padding: 0;
  border: none;
  background-color: transparent;
  flex: 1;
}
